$theme_blue: #2AA7AA;     // Actually is green
$theme_blue_dark: #00A0A2; //#44aec2;

$cloud: #d7d7d7; //light gray
$cloud_heavy: #BDC3C7;
$gray: #ccc;
$gray_heavy: #888;
$green: #80c837;
$green_heavy: #27AE60;
$tuiquoise: #05cfce;
$tuiquosie_dark: #2cacaf;
$yellow: #eeb900;
$yellow_heavy: #f2aa00;
$orange: #ff7442;
$orange_heavy: #D35400;
$red: #FF7258;               // Marketings-3.0
$red_heavy: #c0392b;
$blue: #00b0ed;
$blue_medium: #2695c1;
$blue_heavy: #41748a;
$black_blue: #34495E;
$black_blue_heavy: #2C3E50;
$purple: #6D5CA7;           // Marketings-3.0

$white: #efefef;
$black: #393C3D; //#6a6a6d; // #393C3D provided in Marketings-3.0 design
$secondary_black: #666;

// font colors
$normal_font_black: $black;
$font_black: $normal_font_black;
$strong_font_black: #575858;

// UI components color
$border_color: #e4e2dd;
$pod_color: #f3f3ee;
$pod_secondary_color: #fafafa; // @todo: update it;

$footer_bg_color: #4A4A4F;

// New colors in Marketings-3.0
$theme_blue_highlight: #56CCCA;
